In [1]:
import yaml
from sklearn.model_selection import train_test_split

from src.models.neural_net import NeuralNet
from src.utils import load_dataset

2023-04-13 14:29:56.427268: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-13 14:29:57.000480: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
X, y = load_dataset()
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2)

In [3]:
with open("/home/maria/Documents/OpenX/configs/neural_net.yaml") as f:
    config = yaml.safe_load(f)
model = NeuralNet(**config, max_epochs=15)

2023-04-13 14:30:01.705593: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-04-13 14:30:01.732440: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1956] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [4]:
model.load_from_checkpoint("/home/maria/Documents/OpenX/models/neural_net.ckpt")

In [5]:
model.predict(test_X)

3632/3632 [==============================] - 2s 565us/step

array([1, 1, 1, ..., 1, 6, 1])

In [7]:
test_X[:20000]

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
28041,2771,144,2,162,13,2672,222,238,152,6079,...,0,0,0,0,0,0,0,0,0,0
174540,3057,135,5,170,11,3055,228,238,144,785,...,0,0,0,0,0,0,0,0,0,0
372379,3084,197,11,335,61,2067,217,250,166,1676,...,0,1,0,0,0,0,0,0,0,0
150338,3126,2,19,192,46,4385,190,200,144,2949,...,0,0,0,0,0,0,0,0,0,0
404947,2567,151,10,0,0,1429,233,240,138,2579,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400191,2725,137,16,319,142,2039,243,233,114,2596,...,0,0,0,0,0,0,0,0,0,0
44573,2883,70,5,190,28,3762,225,230,140,5574,...,0,0,0,0,0,0,0,0,0,0
575595,2614,121,6,258,70,2698,230,235,139,792,...,0,0,0,0,0,0,0,0,0,0
329807,3534,25,13,510,122,2852,213,210,132,1690,...,0,0,0,0,0,0,0,0,0,1
353190,2960,64,15,285,32,466,233,207,103,858,...,0,0,0,0,0,0,0,0,0,0

In [8]:
import numpy as np

np.random.randint(0, high=test_X.shape[0], size=20000, dtype=int)

array([ 54096,  16758, 111720, ...,  62249, 108186, 108221])